@import url('https://fonts.googleapis.com/css?family=Orbitron');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Orbitron';
    /*border:1px solid white;/**/
}

header{
	background-color: #4527A0;
	height: 115px;
}

header h1{
	font-size: 3em;
	text-align: left;
	padding-left:10px;
}

nav ul{
	margin-top: 10px;
}

nav li{
	list-style-type: none;
	display: inline;
	margin: 15px;
}


nav a{
    text-decoration:none;
	color: white;
	transition:font-size .75s;
}

nav a:hover{
    font-size:1.25em;
    color:black;
}

body{
    background-color:#0d0d0d;
}

main{
	color: #E0E0E0;
}

h2{
	color:#4527A0;
	margin-bottom: 10px;
	text-align: center;
}

section{
	margin-top:30px;
	padding: 10px;
}


.mapa{
	height: 500px;
}

.mapa iframe{
	width: 100%;
	height: 90%;
	border: 5px outset grey;
	border-radius: 15px;
}

.formulario div,#enviar{
	margin-left: 15%;
	margin-top:25px;
	margin-right: 10%;
}

input,textarea,select{
	background-color: #6a5d65;
	border-radius: 5px;
	width: 70%
}

.formulario input,.formulario textarea:hover{
	cursor: text;
}

.formulario label{
	margin-right: 20px;
}

.formulario .archivo input{
	width: .1px;
	height: .1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.formulario .archivo label,.formulario .archivo input,select{
	cursor: pointer;
}

.formulario .archivo label:hover{
	color: black;
	background-color:#6a5d65;
	border-radius: 20px;
}

.formulario .motivo label{
	width: 20%;
}

.formulario .motivo select{
	width: 90%;
}

.formulario .mensaje label{
	width: 20%;
}

.formulario .mensaje textarea{
	width: 90%;
	height: 50px;
}

.formulario .terminos label{
	font-size: .75em;
	float: left;
}

.formulario .terminos input{
	cursor: pointer;
	width: 5%;
	float: left;
}

#enviar{
	cursor: pointer;
	width: 72%
}

#enviar:hover{
	background-image: url(img/mina.png);
	background-size: contain;
	background-position: center;
	background-color: red;
}

.historia{
	position: relative;
}

.historia p{
    text-align:justify;
    padding-left:10%;
    padding-right:10%;
    margin-bottom:10px;
    font-size: .9em;
}

.historia p::first-letter{
    font-size:1.6em;
}

.historia :nth-child(2){
    margin-top: 30px; 
}

.fotos img,.fotos video,.fotos iframe{
	width: 100%;
    float: left;
    padding-left: 70px;
    padding-right: 70px;
}

.fotos iframe{
    margin-top: 30px;
    height: 300px;
    border:none;
}

.fotos img{
	margin-bottom: 10px;
}
.config div{
    margin-left: 20%;
    margin-top: 20px;
}

.config label{
    color: #E0E0E0;
}

.animacion img{
	animation: movimiento 3s infinite;
}

@keyframes movimiento{
	50%{
        transform:rotate(360deg);
        margin-left: calc(100% - 255px);
	}
	
	100%{
	    margin-left: 0;
	}
}

#minas{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border: 5px outset grey;
}

.game{
	margin-top: 10px;
	margin-left: 20px;
}

#newGame{
	width: 100%;
	height: 40px;
	font-size: 1.5em;
}
#newGame:hover{
	background-color: #4527A0;;
}
#time{
	font-size: 2em;
}


@media(min-width: 700px){
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;} 
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
	[class*="col-"] {
		float: left;
	}
}

@media(max-width: 699px){
	[class*="col-"] {
		width: 100%;
		float: left;
	}

	nav li{
		text-align: center;
		display: block;	
	}

	header{
		height: 255px;
	}

	header h1{
		text-align: center;
		font-size: 2em;
	}

	.formulario div,#enviar{
		margin-left: 15%;
		margin-top:25px;
		margin-right: 5%;
	}

	.animacion{
		text-align: center;
	}

	@keyframes movimiento{
		100%{
	    	transform:rotate(360deg);
		}
	}	
}